<% provide(:title, 'Login') %>

<header>
    <p>Invalid email/password combination</p>
</header>

<h1>Log in</h1>

<center>
    <div style="display: inline-block; text-align: left">
    
        <p>
    Email
        <br><input type="text" data-help="" placeholder="You Email">
    <br>Password
    <br><input type="text" data-help="" placeholder="You Password">
        <br>
        <button> Log in</button>
    <p><br>New user? <%= link_to "Sign up  now!" , '#' %></p>
    </p>
    </div>
    </div>
</div>
</center>
